.GameStats {
    
    
   
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
   
    text-align: left;
    margin-top: 17vh;
    margin-left: 1vw;
   
}
  
.GameStats .value {
    font-size: 5vh;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 1);
}

.GameStats .statName {
    font-size: 2vh;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}
  
  