.Menu {
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.ButtonPlay{
    margin-top: 3vh;
    padding: 30px 50px;
    font-size: 2em;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px, 60px;
    cursor: pointer;
}

.ButtonScore {
    padding: 15px 30px;
    font-size: 1.3em;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px, 60px;
    cursor: pointer;
}