.Preview {
    
   /*
    position: absolute;
    top: 0;
    left: 63%;
    */ 
}
  
.Preview-board {
    display: grid;
    width: 10vh;
    height: 10vh;
    margin-top: 2vh;
    border: 0.7vh solid rgb(255, 255, 255);
    border-radius: 0.7vh;
}

    
