.Preview {
    
   /*
    position: absolute;
    top: 0;
    left: 63%;
    */ 

    
   
    
    
    border: 10px solid rgba(255, 0, 0, 0);
    border-radius: 10px;
}
  
.Preview-board {
    display: grid;
    width: 10vh;
    height: 10vh;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 10px;
}

    
